@model BusinessObjects.Product

<div class="container mt-4">
    <h2>Product Details</h2>

    <dl class="row">
        <dt class="col-sm-3">Product ID</dt>
        <dd class="col-sm-9">@Model.ProductId</dd>

        <dt class="col-sm-3">Product Name</dt>
        <dd class="col-sm-9">@Model.ProductName</dd>

        <dt class="col-sm-3">Price</dt>
        <dd class="col-sm-9">@Model.UnitPrice</dd>

        <dt class="col-sm-3">Stock</dt>
        <dd class="col-sm-9">@Model.UnitsInStock</dd>

        <dt class="col-sm-3">Category</dt>
        <dd class="col-sm-9">@Model.Category?.CategoryName</dd>
    </dl>

    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
